<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http://builder/my-server/|Build Watch</key>
	<date>2009-02-15T19:13:38Z</date>
	<key>http://builder/my-server/|Website</key>
	<date>2009-02-16T19:13:40Z</date>
	<key>http://builder/my-server/|Git Website</key>
	<date>2009-02-17T19:13:42Z</date>
	<key>http://apple.com/builder/|Mail</key>
	<date>2009-02-09T19:13:43Z</date>
	<key>http://apple.com/builder/|Address Book</key>
	<date>2009-02-09T19:13:45Z</date>
	<key>http://apple.com/builder/|Safari</key>
	<date>2009-02-09T19:13:46Z</date>
	<key>http://microsoft.com/TeamSystem/default.aspx|Windows 7</key>
	<date>2009-02-09T19:13:48Z</date>
	<key>http://microsoft.com/TeamSystem/default.aspx|Visual Studio Team System 2007</key>
	<date>2009-02-09T19:13:50Z</date>
	<key>http://microsoft.com/TeamSystem/default.aspx|Microsoft Office System 2009</key>
	<date>2009-02-09T19:13:51Z</date>
	<key>http://openoffice.org/builds/|OpenOffice</key>
	<date>2009-02-09T19:13:53Z</date>
	<key>http://openoffice.org/builds/|KDE</key>
	<date>2009-02-09T19:13:54Z</date>
	<key>http://openoffice.org/builds/|GNOME</key>
	<date>2009-02-09T19:13:56Z</date>
</dict>
</plist>
