<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>^.*/XmlServerReport.aspx$</key>
	<string>CcnetServerReportBuilder</string>
	<key>^.*/cctray.xml$</key>
	<string>CcjavaServerReportBuilder</string>
	<key>^.*/projects.rss$</key>
	<string>CcrbServerReportBuilder</string>
	<key>^.*/feed.html$</key>
	<string>TeamCityServerReportBuilder</string>
</dict>
</plist>
