<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://openoffice.org/builds/</string>
	<string>http://microsoft.com/TeamSystem/default.aspx</string>
	<string>http://apple.com/builder/</string>
	<string>http://builder/my-server/</string>
</array>
</plist>
